<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Profile</a></li>
  <li><a href="#!">Projects</a></li>
  <li class="divider"></li>
  <li><a href="#!">Log out</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">Profile</a></li>
  <li><a href="#!">Projects</a></li>
  <li class="divider"></li>
  <li><a href="#!">Log out</a></li>
</ul>

<header>
  <nav class="blue lighten-4 z-depth-2">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Konnect-U</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">About</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Login</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">My Konnect<i class="material-icons right"></i></a></li>

        </ul>
        <ul class="side-nav" id="mobile-demo">
          li><a href="#">Portfolio</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Login</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown2">My Konnect<i class="material-icons right"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>


  <script>
    $(".button-collapse").sideNav();
    $(".dropdown-button").dropdown();
  </script>
